/* RTL Support */
body {
    direction: rtl;
    text-align: right;
    font-family: 'Cairo', sans-serif;
}

.navbar-nav {
    float: right;
}

.pull-right {
    float: left !important;
}

.pull-left {
    float: right !important;
}

.social-header {
    margin-left: 15px;
    margin-right: 0;
}

.text-left {
    text-align: right;
}

.text-right {
    text-align: left;
} 